[submodule "raylib"]
	path = raylib
	url = https://github.com/raysan5/raylib/
[submodule "asio"]
	path = asio
	url = https://github.com/chriskohlhoff/asio/
[submodule "Tests/googletest"]
	path = Tests/googletest
	url = https://github.com/google/googletest.git
