
[Desktop Entry]
Version=1.0.0
Name=RType
Comment=A replica of the famous R-Type game
Exec=/usr/bin/r-type_client /usr/bin/Assets/asset.json
Icon=/usr/share/icons/r-type_icon.png
Terminal=true
Type=Application
Categories=Games;
Keywords=RType;
