
[Desktop Entry]
Version=1.0.0
Name=RType
Comment=A replica of the famous R-Type game
Exec=bash -c '/usr/bin/r-type_client /usr/bin/Assets/Configs/assets.json /usr/bin/Assets/Configs/buttons.json /usr/bin/Assets/Configs/fonts.json /usr/bin/Assets/Configs/images.json /usr/bin/Assets/Configs/musics.json /usr/bin/Assets/Configs/sounds.json /usr/bin/Assets/Configs/texts.json > /usr/bin/Assets/log.txt 2> /usr/bin/Assets/error.txt'
Icon=/usr/share/icons/r-type_icon.png
Terminal=true
Type=Application
Categories=Games;
Keywords=RType;
